/*========== VARIABLES CSS ==========*/
:root {
  /*========== Colors ==========*/
  --primary-color: #1c8942;
  --white-color: #FFFFFF;
  --black-color: #000000;
  --primary-background-container-color: #E7E7E7;
  --secondary-background-container-color: #DDDDDD;
  /*========== Font and typography ==========*/
  --normal-font-size: 14px;
  --small-font-size: 12px;
  --body-font: sans-serif;
}

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html{
	width: 100%;
  	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	background-color: var(--white-color);
}

/*========== HEADER 1 ==========*/

.poweredBy{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 35px;
	background-color: var(--primary-color);
	font-family: var(--body-font);
}

.poweredBy_title{
	color: var(--white-color);
}

/*========== HEADER 2 ==========*/

header{
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	height: 100px;
	background-color: var(--primary-background-container-color);
	font-family: var(--body-font);
}

.header_title{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	width: 350px;
	height: 100px;
}

.header_img{
	width: 150px;
	height: 80px;
	margin: 0px 10px 0px 10px;
	border-radius: 5px; 
	background-color: var(--secondary-background-container-color);
}

.header_text{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	width: 200px;
	height: 80px;
}

.empty{
	width: 85%;
	height: 100px;
}

.header_user{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	width: 279px;
	height: 100px;
}

.header_user_img{
	width: 42px;
	height: 42px;
	border-radius: 100%;
	background-color: var(--secondary-background-container-color);
}

.header_user_data{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: flex-start;
	margin-left: 10px;
	font-size: 12px;
}

.header_user_data_username{
	font-weight: bold;
}

/*========== MENU ==========*/

nav{
	top: 0px;
	left: 0px;
	width: 225px;
	height: 420px;
	border-radius: 5px;
	margin: 50px 25px;
	background-color: var(--primary-background-container-color);
	overflow-y: visible;
}

nav .menu_list{
	width: 100%;
	height: 100%;
	transition: margin-top .2s ease-in-out;
}

nav .menu_list .menu_item{
	position: relative;
	cursor: pointer;
}

nav .menu_list .menu_item a{
	padding: 5px 30px;
	line-height: 60px;
	display: block;
	color: var(--black-color);
	background-color: var(--primary-background-container-color);
	font-family: var(--body-font);
	font-size: var(--small-font-size);
	text-decoration: none;
	
}

nav .menu_list .menu_item i{
	margin-right: 10px;
}

nav .menu_list .menu_item .dropdown{
	position: absolute;
	right: 0;
	margin: 26px;
	transition: transform .2s ease-in-out;
}

nav .menu_list .menu_item .submenu{
	max-height: 0px;
	overflow: hidden;
	transition: max-height .2s ease-in-out;
}

nav .menu_list .menu_item .submenu.active{
	max-height: 210px;
}

nav .menu_list .menu_item .submenu a{
	background-color: var(--secondary-background-container-color);
	padding-left: 80px;
}



/*========== MENU ACTIONS ==========*/
nav .menu_list .menu_item a:hover{
	color: var(--white-color);
	background-color: var(--primary-color);
	transition: .2s ease-in-out;
}