<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>SIS2_CONFIGURATOR Web Application</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>es.netaphora.sis2.model.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>LanguagesServlet</display-name>
    <servlet-name>LanguagesServlet</servlet-name>
    <servlet-class>es.netaphora.sis2.model.LanguagesServlet</servlet-class>
    <init-param>
      <param-name>allowedMethods</param-name>
      <param-value>DELETE</param-value>
      <param-value>PUT</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>LanguagesServlet</servlet-name>
    <url-pattern>/LanguagesServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>wsColorsServlet</display-name>
    <servlet-name>wsColorsServlet</servlet-name>
    <servlet-class>es.netaphora.sis2.model.wsColorsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>wsColorsServlet</servlet-name>
    <url-pattern>/wsColorsServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>EmailsServlet</display-name>
    <servlet-name>EmailsServlet</servlet-name>
    <servlet-class>es.netaphora.sis2.model.EmailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailsServlet</servlet-name>
    <url-pattern>/EmailsServlet</url-pattern>
  </servlet-mapping>
</web-app>

